.ScoreBoardListItem-root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.ScoreBoardListItem-root__ScoreKey {

}

.ScoreBoardListItem-root__ScoreValue {
  margin-left: auto;
}
